<%
  attribute_name =  maiko_attribute_name(@item, attribute)
  preview_format =  maiko_preview_format(@item, attribute)
  use_ssl        =  maiko_use_ssl(@item, attribute)
  iframe_option  =  maiko_iframe_option(@item, attribute)
  json           =  maiko_json(@item, attribute)
  account_id     =  maiko_account(@item, attribute)
  stack_id       =  maiko_stack(@item, attribute)
  locales        =  maiko_locales(@item, attribute)
%>

<% unless @typus_maiko_assets_loaded %>

  <% content_for :stylesheets do %>
    <%= stylesheet_link_tag "typus_maiko/application" %>
  <% end %>

  <% content_for :javascripts do %>
    <%= javascript_include_tag maikojs_url %>
    <%= javascript_include_tag "typus_maiko/application" %>
  <% end %>

  <% @typus_maiko_assets_loaded = true %>

<% end %>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      $('#<%= attribute_id %>').maikoGallery({
        accountId: '<%= account_id %>',
        stackId: '<%= stack_id %>',
        iframe: <%= iframe_option %>,
        attributeName: '<%= attribute_name %>',
        previewFormat: '<%= preview_format[:url] %>',
        useSSL: <%= use_ssl %>,
        data: <%= json %>,
        locales: <%= locales %>
      })
    })
  </script>
<% end %>

<div class="control-group" id="<%= attribute_id %>">

  <%= form.label attribute, label_text %>

  <ul id="mk-gallery-<%= attribute_id %>" class="mk-gallery">
    <li class="mk-item mk-item-add">
      <a href="#" class="mk-btn mk-add-btn">Add <%= attribute %> +</a>
    </li>
  </ul>

  <style>
    #mk-gallery-<%= attribute_id %> .mk-item {
      height: <%= preview_format[:height] %>px;
    }
    #mk-gallery-<%= attribute_id %> .mk-add-btn {
      width: <%= preview_format[:width] %>px;
      line-height: <%= preview_format[:height] %>px;
    }
  </style>
</div>

